

.container{
    font-family: 'Playfair Display', serif;
   
}
.container h1{
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.item{
    display: inline-block;
    width: 25rem;
    height: 25rem;
    border: 1px solid darkgray;
    margin: 1.5rem;
    padding: 1rem;

}
.itemPrice{
    color: rgb(160, 30, 30);
}